{% extends 'app_base.html' %}

{% from 'ocatdatapage/macros.html' import compare_param_values, rank_compare_param_values, change_block, no_change_block, remark_section  %}

{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red; font-size:160%;'>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% set ns = namespace(multi_count=0, multi_orcnt=0, param_count=0) %}

<form method="POST">
<!-- TODO asis, remove, clone case. Either here or separate confirmation page?-->
    {% if able_to_finalize %}
        {{ form.previous_page() }} {{ form.finalize() }}
    {% else %}
        {{ form.previous_page() }}
    {% endif %}
    {% if kind == 'norm' %}
        <div style='padding-bottom:20px;'></div>
        <h3>You have submitted the following value updates on Obsid {{ obsid }}.</h3>
        <!--if multiple obsids are submitted, display the obsids-->
        {% if multi_obsid|length > 0 %}
            <div style='margin-left: 40px;padding-bottom:30px;'>
            <h4>The same changes will also apply to obsid(s): </h4>
            <table border=0>
            <tr>
            {% for m_obsid in multi_obsid %}
                {% if ns.multi_count % 8 == 0 %}
                    </tr>
                    <tr>
                {% endif %}
                <td>
                        <span style='padding-left:5px;'>
                    &#8729;
                    <a href="javascript:WindowOpener(' {{ url_for('ocatdatapage.index', obsid=m_obsid) }} ')"><b>
                {% if or_dict.get(obsid) %}
                        <span style='color:red;'>
                            {{ m_obsid }}
                            {% set ns.multi_orcnt = ns.multi_orcnt + 1 %}
                        </span>
                    {% else %}
                        {{ m_obsid }}
                    {% endif %}
                    </b></a>
                    </span>
                    </td>
                {% set ns.multi_count = ns.multi_count + 1 %}
            {% endfor %}
            </tr>
            </table>
            <p>
            Instrument-specific parameter changes will not be applied to the above obsids if they are different instruments.
            (e.g ACIS subarray won't change for an HRC observation.)
            </p>
            <!-- if some of the obsids are on the active OR list, display the warning -->
            {% if ns.multi_orcnt > 0 %}
                <p>
                    <span style='color:red;'>Warning: </span>
                obsid(s) marked by <span style='color:red;'>red</span> color is/are
                on the active OR list. You may want to contact 
                <a href='mailto:mp@cfa.harvard.edu'>mp@cfa.harvard.edu</a>
                before submitting the parameter changes.
                </p>
            {% endif %}
            </div>
        {% endif%}
        <!-- parameter table starts here -->
        <table border=1 class='center' style='border-spacing:5px; border-collapse: separate;'>
            <tr>
                <th class='cent'>Parameter</th>
                <th class='cent'>Original Value</th>
                <th class='cent'>Requested</th>
                <th>&#160;</th>
                <th class='cent'>Parameter</th>
                <th class='cent'>Original Value</th>
                <th class='cent'>Requested</th>
            </tr>
            {% for param in _PARAM_SELECTIONS['basic_params'][:19] + _PARAM_SELECTIONS['dither_params_usint'] + _PARAM_SELECTIONS['basic_params'][19:]%}
                {% set ns.param_count = ns.param_count + 1 %}
                {% if ns.param_count % 2 == 1 %}
                    <tr>
                {% endif %}
                    {{compare_param_values(param, org_dict, req_dict, _LABELS)}}
                {% if ns.param_count % 2 == 0 %}
                    </tr>
                {% else %}
                    <td> &#160;</td>
                {% endif %}
            {% endfor %}
        </table>
        <!-- Rank display table starts here-->
        <h3>Ordered Entries</h3>
        <table border=1 class='center' style='border-spacing:5px; border-collapse: separate;'>
            <tr>
                <th class='cent'>Parameter</th>
                <th class='cent'>Original Value</th>
                <th class='cent'>Requested</th>
                <th>&#160;</th>
                <th class='cent'>Parameter</th>
                <th class='cent'>Original Value</th>
                <th class='cent'>Requested</th>
            </tr>
            {% for flag, ranks, columns, ordr in _FLAG_RANK_COLUMN_ORDR%}
                {% set org_ordr = rank_ordr(org_dict.get(ranks)) %}
                {% if ranks in req_dict.keys() %}
                    {% set req_ordr = rank_ordr(req_dict.get(ranks)) %}
                {% else%}
                    {% set req_ordr = org_ordr %}
                {% endif%}
                <tr><th colspan=7  style='background-color:#a8f0bb;'>{{ _LABELS.get(ranks) }}</th></tr>
                <tr>
                    {{compare_param_values(flag, org_dict, req_dict, _LABELS)}}
                    <th>&#160;</th>
                    {% if org_ordr == req_ordr %}
                        {{ no_change_block(_LABELS.get(ordr), org_ordr) }}
                    {% else %}
                        {{ change_block(_LABELS.get(ordr), org_ordr, req_ordr) }}
                    {% endif %}
                </tr>
                {% if not (org_dict.get(flag) == 'N' and req_dict.get(flag) == None) %}
                    {% for i, (org_rank,req_rank) in enumerate(zip_longest(org_dict.get(ranks) or [], req_dict.get(ranks) or [],fillvalue={})) %}
                        <!--Iterating by order-->
                        {{ rank_compare_param_values(i, org_rank, req_rank, _LABELS) }}
                    {% endfor %}
                {% endif %}

            {% endfor %}
        </table>

        <!-- remarks and comments need an extra step to display the format correctly -->
        <hr style='border-top: 1px dashed;'>
        <h3>Remarks</h3>
        <div style='margin-left: 50px; margin-right:50px;'>
            {{ remark_section('remarks', org_dict, req_dict) }}
        </div>
        <hr style='border-top: 1px dashed;'>
    
        <h3>Comments</h3>
        <div style='margin-left: 50px; margin-right:50px;'>
            {{ remark_section('comments', org_dict, req_dict) }}
        </div>
    {% elif kind == 'asis' %}
        {% if is_approved %}
            <p style='font-weight:bold;color:red;'>
            You have checked that this Obsid ({{ obsid }}) is ready for flight, 
            but this observation is already on the approved list. Do you want to proceed?
            </p>
        {% else %}
            <p style='font-weight:bold;'>
            You have checked that this Obsid ({{ obsid }}) is ready for flight. 
            Any parameter changes you made will not be submitted with this request.
            </p>
        {% endif %}
    {% elif kind == 'remove' %}
        {% if is_approved %}
            <p style='font-weight:bold;'>
            You have requested this Obsid ({{ obsid }}) 
            to be removed from the approved list. 
            Any parameter changes you made will not be submitted with this request.
            </p>
        {% else %}
            <p style='font-weight:bold;color:red;'>
            You have requested this Obsid ({{ obsid }}) 
            to be removed from the "ready to go" list. 
            However, this observation is not on the approved list yet. Do you want to proceed?
            </p>
        {% endif %}
    {% elif kind == 'clone' %}
        <p style='font-weight:bold;'>
        You have submitted a request for splitting obsid {{ obsid }}.
        You need to explain why you need to split this observation. 
        If you have not done so, please go back and add the explanation in the comment area.
        Any parameter changes other than comments will not be submitted with this request.
        </p>
        <hr>
        <h3>Comments</h3>
        <div style='margin-left: 50px; margin-right:50px;'>
            {{ remark_section('comments', org_dict, req_dict) }}
        </div>
    {% endif %}
    <hr>
    <p>
    If these values are correct, click the Finalize button. Otherwise, use the Previous Page button
    to go back to the main page. 
    </p>
    {% if able_to_finalize %}
        {{ form.previous_page() }} {{ form.finalize() }}
    {% else %}
        {{ form.previous_page() }}
    {% endif %}
</form>
<div style='padding-bottom:30px;'></div>

{% endblock %}