{% extends 'app_base.html' %}
{% import 'bootstrap/form.html' as wtf %}

<!-- -->
<!-- import html macros -->
<!-- -->
{%  from 'ocatdatapage/macros.html' import render_rank, render_field, render_value, help_popup_page, map_image_opener %}

{% set cdo_http  = 'https://icxc.cfa.harvard.edu/cgi-bin/cdo/' %}
{% set cda_http  = 'https://cda.cfa.harvard.edu/chaser/startViewer.do?menuItem=sequenceSummary&obsid=' %}
{% set sobsid = ocat_data.get('obsid') | string %}
{% set hlink  = cda_http + sobsid %}


{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}

<!-- -->
<!-- if there are any warnings, display here -->
<!-- -->
{% if warning != '' %}
    <h3 style='color:#db1709;'>{{ warning }}</h3>
{% endif %}
<!-- -->
<!-- if something went wrong with updating the data file... --->
<!-- -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red; font-size:160%;'>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- -->
<!-- a popup help page link -->
<!-- -->
<p>
<b>A brief description of the listed parameters is given in: 
{{ help_popup_page('../static/ocatdatapage/user_help.html', 'Ocat Data Help') }}
</b>
</p>
<!-- -->
<!-- DSS/ROSAT/RASS map links -->
<!-- -->
<table>
    <tr>
    <th class='link1'>{{ map_image_opener('dss', 'magenta', _LABELS, orient_maps) }}</th>
    <td>&#160;</td>
    <th class='link1'>{{ map_image_opener('rosat', 'orange', _LABELS, orient_maps) }}</th>
    <td>&#160;</td>
    <th class='link1'>{{ map_image_opener('rass', 'yellow', _LABELS, orient_maps) }}</th>
    </tr>
</table>
<!-- -->
<!-- observation summary table link -->
<!-- -->
<p style='padding-top:10px;'>
{{ help_popup_page(hlink, 'Sequence  # Summary', 120, 'seq_nbr') }}
(with Roll/Pitch/Visibility Plots)
</p>
<hr>
<!------------------------------------------------------------------------------------------------------------------------------->
<form method="POST">
    <p><b>Click {{ form.refresh() }} to clear your revisions and pull the original ocat data.</b></p>
    {{ form.hidden_tag() }}
    <!--For Hidden Form Fields In Rank Additions-->
    <div id="template_time_ranks" style="display: none;">
        <table>
            {{ render_rank(-1, form.template_time) }}
        </table>
    </div>
    <div id="template_roll_ranks" style="display: none;">
        <table>
            {{ render_rank(-1, form.template_roll) }}
        </table>
    </div>
    <div id="template_window_ranks" style="display: none;">
        <table>
            {{ render_rank(-1, form.template_window) }}
        </table>
    </div>
    <h2 id="gen_param">General Parameters
        {{ help_popup_page('../static/ocatdatapage/user_help.html#general_parameters', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>
        <th>{{_LABELS.get('seq_nbr')}}: </th>
        <td>
            <a href="javascript:WindowOpener('{{ hlink }}','seq_nbr')">
                {{ocat_data.get('seq_nbr')}}
            </a>
        </td>
        {{ render_value(ocat_data.get('status'), _LABELS.get('status')) }}
        {{ render_value(ocat_data.get('obsid'), _LABELS.get('obsid')) }}
        {{ render_value(ocat_data.get('proposal_number'), _LABELS.get('proposal_number')) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ render_value(ocat_data.get('proposal_title'), _LABELS.get('proposal_title')) }} 
        </tr>
        <tr>
        {{ render_value(ocat_data.get('obs_ao_str'), _LABELS.get('obs_ao_str')) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ render_field(form.targname, size=20) }}
        {{ render_value(ocat_data.get('si_mode'), _LABELS.get('si_mode')) }}
        {{ render_value(ocat_data.get('aca_mode'), _LABELS.get('aca_mode')) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ render_field(form.instrument) }}
        {{ render_field(form.grating) }}
        {{ render_field(form.obs_type) }}
        </tr>
    </table>
    <table vorder=0>
        <tr>
        {{ render_value(ocat_data.get('pi_name'), _LABELS.get('pi_name')) }}
        {{ render_value(ocat_data.get('observer'), _LABELS.get('observer')) }}
        </tr>
        <tr>
        {{ render_value(ocat_data.get('approved_exposure_time'), _LABELS.get('approved_exposure_time')) }}<td style='text-align:left;'>(ksec)</td>
        {{ render_value(ocat_data.get('rem_exp_time'), _LABELS.get('rem_exp_time')) }}<td>(ksec)</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ render_value(ocat_data.get('proposal_joint'), _LABELS.get('proposal_joint')) }}
        </tr>
    </table>
        <div style='margin-left:40px;'>
        <table border=0>
            <tr>
            {{ render_value(ocat_data.get('proposal_hst'), _LABELS.get('proposal_hst')) }}
            <td>&#160;</td>
            {{ render_value(ocat_data.get('proposal_noao'), _LABELS.get('proposal_noao')) }}
            </tr>
            <tr>
            {{ render_value(ocat_data.get('proposal_xmm'), _LABELS.get('proposal_xmm')) }}
            <td>&#160;</td>
            {{ render_value(ocat_data.get('proposal_rxte'), _LABELS.get('proposal_rxte')) }}
            </tr>
            <tr>
            {{ render_value(ocat_data.get('proposal_vla'), _LABELS.get('proposal_vla')) }}
            <td>&#160;</td>
            {{ render_value(ocat_data.get('proposal_vlba'), _LABELS.get('proposal_vlba')) }}
            </tr>
        </table>
        </div>
    <table>
        <tr>
        {{ render_value(ocat_data.get('soe_st_sched_date'), _LABELS.get('soe_st_sched_date')) }}
        {{ render_value(ocat_data.get('lts_lt_plan'), _LABELS.get('lts_lt_plan')) }}
        </tr>
    </table>

    <p style='padding-top:20px'>
    If you'd like to see the current viewing orientation, open: 
            {{ map_image_opener('dss', 'blue', _LABELS, orient_maps) }},
            {{ map_image_opener('rosat', 'blue', _LABELS, orient_maps) }},
            {{ map_image_opener('rass', 'blue', _LABELS, orient_maps) }}
    (Note: These figures do not always exist.)
    </p>
    <table border=0>
        <tr>
        {{ render_field(form.ra_hms) }}
        {{ render_field(form.dec_dms) }}
        {{ render_value(ocat_data.get('planned_roll'), _LABELS.get('planned_roll')) }}
        </tr>
        <tr>
        {{ render_value(ocat_data.get('ra'), _LABELS.get('ra')) }}
        {{ render_value(ocat_data.get('dec'), _LABELS.get('dec')) }}
        {{ render_value(ocat_data.get('soe_roll'), _LABELS.get('soe_roll')) }}
        </tr>
    </table>
    <p style="padding-top:10px">
    Enter RA and Dec in HMS/DMS format (separated by colons, 
    e.g. 16:22:04.8 -27:43:04.0) then click:
    to update the decimal RA/Dec values.
    </p>
    <table border=0>
        <tr>
        {{ render_field(form.y_det_offset) }}<td>(arcmin)</td>
        {{ render_field(form.z_det_offset) }}<td>(arcmin)</td>
        </tr>
        <tr>
        {{ render_field(form.trans_offset) }}<td>(mm, not arcmin!)</td>
        {{ render_field(form.focus_offset) }}<td>(mm)</td>
        </tr>
        <tr>
        {{ render_value(ocat_data.get('raster_scan'), _LABELS.get('raster_scan')) }}
        <td cellspan=2> &#160;</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ render_field(form.uninterrupt) }}
        {{ render_field(form.extended_src) }}
        </tr>
        <tr>
        {{ render_field(form.obj_flag) }}
        {{ render_field(form.object) }}
        </tr>
        <tr>
        {{ render_field(form.photometry_flag) }}
        {{ render_field(form.vmagnitude) }}
        </tr>
        <tr>
        {{ render_field(form.est_cnt_rate) }}
        {{ render_field(form.forder_cnt_rate) }}
        </tr>
    </table>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="dither_param">Dither
        {{ help_popup_page('../static/ocatdatapage/user_help.html#dither_flag', ' (Help)', 55) }}
    </h2>
    {{ render_field(form.dither_flag) }}
    {% if form.dither_flag.data == 'N' %}
        <div id="ditherDiv" style="display: none;margin-left:40px;">
    {% elif form.dither_flag.data == 'Y'%}
        <div id="ditherDiv" style="display: block;margin-left:40px;">
    {% endif %}
            <table border=0>
                <tr>
                {{ render_field(form.y_amp_asec) }}
                {{ render_field(form.y_freq_asec) }}
                {{ render_field(form.y_phase) }}
                </tr>
                <tr>
                {{ render_value(ocat_data.get('y_amp'), _LABELS.get('y_amp')) }}
                {{ render_value(ocat_data.get('y_freq'), _LABELS.get('y_freq')) }}
                <td colspan=1>&#160;</td>
                </tr>
                <tr>
                {{ render_field(form.z_amp_asec) }}
                {{ render_field(form.z_freq_asec) }}
                {{ render_field(form.z_phase) }}
                </tr>
                <tr>
                {{ render_value(ocat_data.get('z_amp'), _LABELS.get('z_amp')) }}
                {{ render_value(ocat_data.get('z_freq'), _LABELS.get('z_freq')) }}
                <td colspan=1>&#160;</td>
                </tr>
            </table>
        </div>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="time_param">Time Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#time_constraints', ' (Help)', 55) }}
    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>
    {{ form.window_flag() }}
    {% if form.window_flag.data == 'N' %}
        <div id="timeDiv" style="display: none;margin-left:40px;">
    {% elif form.window_flag.data == 'Y'%}
        <div id="timeDiv" style="display: block;margin-left:40px;">
    {% endif %}
        <p>
        If you want to add ranks, press "Add Time". 
        If you want to remove a rank, click the adjacent "Remove Rank" button.
        </p>
        <table id="time_ranks">
            <thead>
                <th style='padding-left:5px;'>Rank</th>
                {% for field in form.template_time %}
                    {% if field.type != 'ButtonField' %}
                        <td style='padding-left:5px;'>{{field.label.text}}</td>
                    {% else %}
                        <td style='padding-left:5px;'></td>
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
            {% for i, time_rank in enumerate(form.time_ranks) %}
                {{ render_rank(i,time_rank) }}
            {% endfor%}
            </tbody>
        </table>
        <button type="button" id="addTime">Add Time</button>
        </div>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="roll_param">Roll Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#roll_constraints', ' (Help)', 55) }}
    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>
    {{ form.roll_flag() }}
    {% if form.roll_flag.data == 'N' %}
        <div id="rollDiv" style="display: none;margin-left:40px;">
    {% elif form.roll_flag.data == 'Y'%}
        <div id="rollDiv" style="display: block;margin-left:40px;">
    {% endif %}
        <p>
        If you want to add ranks, press "Add Roll". 
        If you want to remove a rank, click the adjacent "Remove Rank" button.
        </p>
        <table id="roll_ranks">
            <thead>
                <th style='padding-left:5px;'>Rank</th>
                {% for field in form.template_roll %}
                    {% if field.type != 'ButtonField' %}
                        <td style='padding-left:5px;'>{{field.label.text}}</td>
                    {% else %}
                        <td style='padding-left:5px;'></td>
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
            {% for i, roll_rank in enumerate(form.roll_ranks) %}
                {{ render_rank(i,roll_rank) }}
            {% endfor%}
            </tbody>
        </table>
        <button type="button" id="addRoll">Add Roll</button>
        </div>
    <hr>
    <!------------------------------------------------------------------------------------------------------------------------------->
    <h2 id="other_param">Other Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#other_constraints', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>{{ render_field(form.constr_in_remarks) }}</tr>
        <tr>{{ render_field(form.pointing_constraint) }}</tr>
        <tr>{{ render_value(ocat_data.get('phase_constraint_flag'), _LABELS.get('phase_constraint_flag')) }}</tr>
        {% if ocat_data.get('phase_constraint_flag') in ['Y', 'P'] %}
            <tr>
                {{ render_field(form.phase_epoch) }}
                {{ render_field(form.phase_period) }}
            </tr>
            <tr>
                {{ render_field(form.phase_start) }}
                {{ render_field(form.phase_start_margin) }}
            </tr>
            <tr>
                {{ render_field(form.phase_end) }}
                {{ render_field(form.phase_end_margin) }}
            </tr>
        {% endif %}            
        <tr>
            {{ render_value(ocat_data.get('group_id'), _LABELS.get('group_id')) }}
            {{ render_field(form.monitor_flag) }}
        </tr>
        <tr>
        {% if ocat_data.get('group_id') != None %}
            <th>Remaining Observations in the Group: </th>
            <td colspan=3>
                {% if ocat_data.get('group_obsid')|length > 0 %}
                    {% for ent in ocat_data.get('group_obsid') %}
                        <span style='padding-left:5px;'></span>
                        <a href="{{ url_for('ocatdatapage.index', obsid=ent) }}">{{ ent }}</a>
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% elif form.monitor_flag.data == 'Y' %}
            <th>Remaining Observation in the Monitoring: </th>
            <td colspan=3>
                {% if ocat_data.get('monitor_series')|length > 0 %}
                    {% for ent in ocat_data.get('monitor_series') %}
                        <span style='padding-left:5px;'></span>
                        <a href="{{ url_for('ocatdatapage.index', obsid=ent) }}">{{ ent }}</a> 
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
        <tr>
            {{ render_field(form.pre_id) }}
            {{ render_field(form.pre_min_lead) }}
        </tr>
        <tr>
            <td colspan=2>&#160;</td>
            {{ render_field(form.pre_max_lead) }}
        </tr>
        <tr>
            {{ render_field(form.multitelescope) }}
            {{ render_field(form.observatories) }}
        </tr>
        <tr>
            {{ render_field(form.multitelescope_interval) }}
            <td colspan=2>&#160;</td>
        </tr>
        <tr>
            {{ render_field(form.split_interval) }}
            <td colspan=2>&#160;</td>
        </tr>
        </table>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="hrc_param">HRC Parameters
            {{ help_popup_page('../static/ocatdatapage/user_help.html#hrc_parameters', ' (Help)', 55) }}
        </h2>
        {% if form.instrument.data in ['HRC-I', 'HRC-S'] %}
            <div class="ACISDiv" style="display: none;">
        {% else %}
            <div class="ACISDiv" style="display: block;">
        {% endif %}
                <h3>
                    ObsID {{ ocat_data.get('obsid') }} is not an HRC observation. Instrument {{ form.instrument.data }} is selected.
                </h3>
            </div>
        {% if form.instrument.data in ['HRC-I', 'HRC-S'] %}
            <div class="HRCDiv" style="display: block;">
        {% else %}
            <div class="HRCDiv" style="display: none;">
        {% endif %}
            <table border=0>
                <tr>    
                {{ render_field(form.hrc_timing_mode) }}
                {{ render_field(form.hrc_zero_block) }}
                {{ render_field(form.hrc_si_mode) }}
                </tr>
            </table>
            </div>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="acis_param">ACIS Parameters
            {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_parameters', ' (Help)', 55) }}
        </h2>
        {% if form.instrument.data in ['ACIS-I', 'ACIS-S'] %}
            <div class="HRCDiv" style="display: none;">
        {% else %}
            <div class="HRCDiv" style="display: block;">
        {% endif %}
                <h3>
                    ObsID {{ ocat_data.get('obsid') }} is not an ACIS observation. Instrument {{ form.instrument.data }} is selected.
                </h3>
            </div>
        {% if form.instrument.data in ['ACIS-I', 'ACIS-S'] %}
            <div class="ACISDiv" style="display: block;">
        {% else %}
            <div class="ACISDiv" style="display: none;">
        {% endif %}
            <table>
                <tr>
                {{ render_field(form.exp_mode) }}
                {{ render_field(form.bep_pack) }}
                {{ render_field(form.frame_time) }}
                </tr>
                <tr>
                <td colspan=4>&#160;</td>
                {{ render_field(form.most_efficient) }}
                </tr>
            </table>
            <table>
                <tr>
                {{ render_value(ocat_data.get('dropped_chip_count'), _LABELS.get('dropped_chip_count')) }}
                <tr>
            </table>
        
            <table>
                <tr>
                <td colspan=4>&#160;</td>
                {{ render_field(form.ccdi0_on) }}
                {{ render_field(form.ccdi1_on) }}
                <td colspan=4>&#160;</td>
                </tr>
                <tr>
                <td colspan=4>&#160;</td>
                {{ render_field(form.ccdi2_on) }}
                {{ render_field(form.ccdi3_on) }}
                <td colspan=4>&#160;</td>
                </tr>
                <tr>
                {{ render_field(form.ccds0_on) }}
                {{ render_field(form.ccds1_on) }}
                {{ render_field(form.ccds2_on) }}
                {{ render_field(form.ccds3_on) }}
                {{ render_field(form.ccds4_on) }}
                {{ render_field(form.ccds5_on) }}
                </tr>
            </table>
            <table>
                <tr>
                {{ render_field(form.subarray) }}
                <td colspan=4>
                <b>If you select CUSTOM, please fill the lowered entries.</b>
                </td>
                </tr>
                {% if form.subarray.data == 'CUSTOM' %}
                    <tr id="subarrayTr"style="display: block;">
                {% else %}
                    <tr id="subarrayTr"style="display: none;">
                {% endif %}
                    {{ render_field(form.subarray_start_row) }}
                    {{ render_field(form.subarray_row_count) }}
                    <td>&#160;</td>
                    </tr>
                <tr>
                {{ render_field(form.duty_cycle) }}
                <td colspan=4>
                <b>If you select YES, please fill the lowered entries.</b>
                </td>
                </tr>
                {% if form.duty_cycle.data == 'Y' %}
                    <tr id="dutyTr"style="display: block;">
                {% else %}
                    <tr id="dutyTr"style="display: none;">
                {% endif %}
                    {{ render_field(form.secondary_exp_count) }}
                    {{ render_field(form.primary_exp_time) }}
                    <td>&#160;</td>
                    </tr>
                <tr>
                {{ render_field(form.onchip_sum) }}
                {{ render_field(form.onchip_row_count) }}
                {{ render_field(form.onchip_column_count) }}
                </tr>
                <tr>
                {{ render_field(form.eventfilter) }}
                {{ render_field(form.eventfilter_lower) }}
                {{ render_field(form.eventfilter_higher) }}
                </tr>
                <tr>
                {{ render_field(form.multiple_spectral_lines) }}
                {{ render_field(form.spectra_max_count) }}
                </tr>
            </table>
            </div>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="aciswin_param">ACIS Window Constraints
        {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', ' (Help)', 55) }}
        </h2>
        {% if form.instrument.data in ['ACIS-I', 'ACIS-S'] %}
            <div class="HRCDiv" style="display: none;">
        {% else %}
            <div class="HRCDiv" style="display: block;">
        {% endif %}
                <h3>
                    ObsID {{ ocat_data.get('obsid') }} is not an ACIS observation. Instrument {{ form.instrument.data }} is selected.
                </h3>
            </div>
        {% if form.instrument.data in ['ACIS-I', 'ACIS-S'] %}
            <div class="ACISDiv" style="display: block;">
        {% else %}
            <div class="ACISDiv" style="display: none;">
        {% endif %}
            {{ form.spwindow_flag() }}
            
            {% if form.spwindow_flag.data == 'N' %}
                <div id="windowDiv" style="display: none;margin-left:40px;">
            {% elif form.spwindow_flag.data == 'Y'%}
                <div id="windowDiv" style="display: block;margin-left:40px;">
            {% endif %}
                <p>
                <b>Note</b>: By default, the sample rate is 0 and the window specified is an 
                <b>EXCLUSION</b> area. 
                To set an INCLUSION area, in the first window, set the sample rate to 1, and choose 
                a desired inclusion area.
                In the second window, set the sample rate to 0 and the window area to 1024 x 1024.
                For the case with the sample rate > 1, please refer to:
                {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', 'Help') }}.
                </p>
                <p>
                If you want to add ranks, press "Add Window". 
                If you want to remove a rank, click the adjacent "Remove Rank" button.
                </p>
                <table id="window_ranks">
                    <thead>
                        <th style='padding-left:5px;'>Rank</th>
                        {% for field in form.template_window %}
                            {% if field.type != 'ButtonField' %}
                                <td style='padding-left:5px;'>{{field.label.text}}</td>
                            {% else %}
                                <td style='padding-left:5px;'></td>
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody>
                    {% for i, window_rank in enumerate(form.window_ranks) %}
                        {{ render_rank(i,window_rank) }}
                    {% endfor%}
                    </tbody>
                </table>
                <button type="button" id="addWindow">Add Window</button>
                </div>
            </div>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2 id="too_param">TOO Parameters
        {{ help_popup_page('../static/ocatdatapage/user_help.html#too_parameters', ' (Help)', 55) }}
        </h2>
        {% if ocat_data.get('tooid') == None %}
            <h3>ObsID: {{ ocat_data.get('obsid')}} is not a DDT/TOO observation.</h3>
        {% else %}
            <table>
                <tr>
                {{ render_value(ocat_data.get('tooid'), _LABELS.get('tooid')) }}
                </tr>
                <tr>
                {{ render_value(ocat_data.get('too_trig'), _LABELS.get('too_trig')) }}
                </tr>
                <tr>
                {{ render_value(ocat_data.get('too_type'), _LABELS.get('too_type')) }}
                </tr>
                <tr>
            </table>
            <table>
                <th colspan=4>
                Exact response window (days):
                <span style='padding-right:30px;'></span>
                </th>
                {{ render_value(ocat_data.get('too_start'), _LABELS.get('too_start')) }}
                {{ render_value(ocat_data.get('too_stop'), _LABELS.get('too_stop')) }}
                </tr>
            </table>
            <table>
                <tr>
                {{ render_value(ocat_data.get('too_followup'), _LABELS.get('too_followup')) }}
                </tr>
                <tr>
                {{ render_value(ocat_data.get('too_remarks'), _LABELS.get('too_remarks')) }}
                </tr>
            </table>
        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2>Comments and Remarks
        {{ help_popup_page('../static/ocatdatapage/user_help.html#comments', ' (Help)', 55) }}
        </h2>
        <p>
        <strong>
        The remarks area below is reserved for remarks related to constraints, 
        actions/considerations that apply to the observation.
        Please put all other remarks/comments into the comment area below.
        </strong>
        </p>
        <table>
            <tr>
            <th>{{ form.remarks.label.text }}:</th>
            <td>
                {{ form.remarks(rows=10, cols=60) }}
            </td>
            </tr>
        </table>
        
        <p>
        <strong> 
        Comments are kept as a record of why a change was made.
        <br>
        If a CDO approval is required, or if you have a special 
        instruction for ARCOPS, add the comment in this area.
        </strong> 
        </p>
        
        <table>
            <tr>
            <th>{{ form.comments.label.text }}:</th>
            <td>
                {{ form.comments(rows=10, cols=60) }}
            </td>
            </tr>
        </table>
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <h2>Options</h2>
        {% if ocat_data.get('status') in ['unobserved', 'scheduled', 'untriggered'] or config['TEST_DATABASE']%}
        <table>
            <tr>
            <th>Normal Change</th>
            <td>Any changes other than APPROVAL status</td>
            </tr>
            <tr>
            <th>Observation is Approved for flight</th>
            <td>Adds ObsID to the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>ObsID no Longer ready to go</th>
            <td>REMOVE ObsID from the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>Split this ObsID</th>
            <td style='color:deeppink;'>
                Please add an explanation why you need<br>
                to split this observation in the comment area.
            </td>
            </tr>
        </table>
    
        <table>
            <tr>
            {% for subfield in form.submit_choice %}
                <td>{{ subfield() }}</td>
                <td>{{ subfield.label }}</td>
            {% endfor %}
            </tr>
        </table>
        <p style='padding-top:10px;'>
            If you want to apply the same changes to other obsids, please list them below.
            <br>
            Please read: 
            <a href="javascript:WindowOpener('../static/ocatdatapage/multi_obsids.html','multi')">
                how to use multiple obsid editing
            </a>
            for more details.
        </p>
        {{ form.multiobsid(size=80) }}
        <div style='padding-top:30px;'></div>
        <p><b>Click {{ form.submit() }} to submit your changes.</b></p>
        <p><b>Click {{ form.refresh() }} to clear your revisions and pull the original ocat data.</b></p>
        {% else %}

        <p style='padding-bottom:20px;'>
            <strong style='font-size:130%;'>
            {% if ocat_data.get('status') in ['observed', 'archived', 'triggered'] %}
                This observation was already
            {% else %}
                This observation was 
            {% endif %}

            <span style='color:red;'>{{ ocat_data.get('status').upper() }}</span>
            and you cannot update its parameter values anymore.
            </strong>
        </p>

        {% endif %}
        <hr>
        <!------------------------------------------------------------------------------------------------------------------------------->
        <p style="padding-bottom:20px;">
        <span style="font-size:110%;">Link to:</span><br>
        <a href="javascript:void(0);" onclick="openTab('../express', 'Express');">Express Approval</a>
        <br>
        <a href="{{ cdo_http }}review_report/disp_report.cgi?{{ ocat_data.get('proposal_number') }}">Peer Review Report And Proposal</a>
        <br>
        <a href="{{ hlink }}">
        ChaSeR Sequence Summary (with Roll/Pitch/Visibility, etc.)</a>
        <br>
        <a href='https://cxc.cfa.harvard.edu/cgi-bin/target_search/search.html'>
        Chandra User Observation Search</a>
        </p>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='usint.js') }}"></script>
{% endblock%}