<!-- Ocatdatapage Page Macros-->
{% macro render_rank(i, field) %}
    <tr id="{{ field.id }}">
        <th class="borderless-cell" style='padding-left:5px;'>{{i}}</th>
        {% for subfield in field%}
            <td class="borderless-cell" style='padding-left:5px;'>{{subfield()}}</td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro render_field(field, size=10) %}
    <th class="borderless-cell" style='padding-left:5px;'> {{ field.label.text }}: </th>
    {% if field.type in ('StringField', 'FloatField', 'IntegerField', 'TimeRankDateTimeField') %}
        <td class="borderless-cell"> {{ field(size = size) }} </td>
    {% elif field.type in ('SelectField', 'ButtonField', 'SubmitField')%}
        <td class="borderless-cell"> {{ field() }} </td>
    {% else %}
        <td class="borderless-cell">Unspecified Field Type</td>
    {% endif %}
{% endmacro %}

{% macro render_value(data, label) %}
    <th class="borderless-cell" style='padding-left:5px;'> {{ label }}: </th>
    {% if data == None %}
    <td class="borderless-cell">NA</td>
    {% else %}
    <td class="borderless-cell">{{ data }}</td>
    {% endif %}
{% endmacro %}


{% macro help_popup_page(html, link_name, font_size=100, name='help') %}
    <a href="javascript:WindowOpener('{{ html }}', '{{ name }}')">
        <span style="font-size:{{ font_size }}%;">
            {{ link_name }}
        </span>
    </a>
{% endmacro %}

{% macro map_image_opener(map, color, _LABELS, orient_maps) %}    
    {% if orient_maps[map] ==  'NoImage'%}
        <span style='color:{{ color }};'>No {{ _LABELS.get(map) }} Link</span>
    {% else %}
        {% set link = form %}
        <a href="javascript:ImageOpener('{{ orient_maps[map] }}')">
        <span style='color:{{ color }};'>{{ _LABELS.get(map) }}</span>
        </a>
    {% endif %}
{% endmacro %}

<!-- Confirmation Page Macros-->

{% macro change_block(label,org,req) %}
<th class="borderless-cell"><span  style='color:red;'>{{ label  }}</span></th>
<td class="borderless-cell"><span  style='color:red;'>{{ org }}</span></td>
<td class="borderless-cell"><span  style='color:red;'>{{ req }}</span></td>
{% endmacro%}

{% macro no_change_block(label,org) %}
<th class="borderless-cell">{{ label }} </th>
<td class="borderless-cell">{{ org }}</td>
<td class="borderless-cell">No Change</td>
{% endmacro%}

{% macro compare_param_values(param, org_dict, req_dict, _LABELS) %}
    {% if param in req_dict.keys() %}
        {{ change_block(_LABELS.get(param), org_dict.get(param), req_dict.get(param)) }}
    {% else %}
        {{ no_change_block(_LABELS.get(param), org_dict.get(param)) }}
    {% endif %}
{% endmacro %}

{% macro compare_values(org, req, label) %}
    {% if not approx_equals(org,req) %}
        {{ change_block(label, org, req) }}
    {% else %}
        {{ no_change_block(label, org) }}
    {% endif %}
{% endmacro %}

{% macro rank_compare_param_values(i, org_rank, req_rank, _LABELS) %}
        <!--Include determination of a rank has been deleted or added-->
        {% set ns = namespace(ordr=i+1, rank_count=0) %}
        {% if org_rank|length == 0 %}
            {% set kind = 'add' %}
        {% elif req_rank|length == 0 %}
            {% set kind = 'remove' %}
        {% else %}
            {% set kind = 'compare'%}
        {% endif %}
        <tr>
            {% if kind == 'remove' %}
            <th class="borderless-cell" colspan=7 style='background-color:rgb(255,0,0, 0.2);'>
                Order = {{ ns.ordr }} (Deleted)
            </th>
            {% elif kind == 'add' %}
            <th class="borderless-cell" colspan=7 style='background-color:#16e67b;'>
                Order = {{ ns.ordr }} (Created)
            </th>
            {% else %}
            <th class="borderless-cell" colspan=7 style='background-color:#e6fff2;'>
                Order = {{ ns.ordr }}
            </th>
            {% endif%}
        </tr>
        {% set ns.rank_count = 0 %}
        {% if kind == 'add' %}
            <!-- New Ordered Rank-->
            {% for col, req in req_rank.items() %}
                {% set ns.rank_count = ns.rank_count + 1 %}
                {% if ns.rank_count % 2 == 1 %}
                    <tr>
                {% endif %}
                {{ change_block(_LABELS.get(col), None, req)}}
                {% if ns.rank_count % 2 == 0 %}
                    </tr>
                {% else %}
                    <td class="borderless-cell"> &#160;</td>
                {% endif %}
            {% endfor %}
        {% elif kind == 'remove' %}
            <!-- Remove Ordered Rank-->
            {% for col, org in org_rank.items() %}
                {% set ns.rank_count = ns.rank_count + 1 %}
                {% if ns.rank_count % 2 == 1 %}
                    <tr>
                {% endif %}
                {{ change_block(_LABELS.get(col), org, None)}}
                {% if ns.rank_count % 2 == 0 %}
                    </tr>
                {% else %}
                    <td class="borderless-cell"> &#160;</td>
                {% endif %}
            {% endfor %}
        {% elif kind == 'compare' %}
            <!-- compare Ordered Rank-->
            {% for col, org, req in zip(org_rank.keys(), org_rank.values(), req_rank.values()) %}
                {% set ns.rank_count = ns.rank_count + 1 %}
                {% if ns.rank_count % 2 == 1 %}
                    <tr>
                {% endif %}
                {{ compare_values(org, req, _LABELS.get(col))}}
                {% if ns.rank_count % 2 == 0 %}
                    </tr>
                {% else %}
                    <td class="borderless-cell"> &#160;</td>
                {% endif %}
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro remark_section(param, org_dict, req_dict) %}
    {% if param in req_dict.keys() %}
        <h4 style='text-decoration: underline;'>Original</h4>
            <p>
                {% if org_dict.get(param) == None %}
                    <span style='padding-left:50px;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;'>{{org_dict.get(param).replace('\n','<br>')}}</p>
                {% endif %}
            </p>
        <hr style='border-top:1px dotted;'>
        <h4 style='text-decoration: underline;'>New</h4>
            <p>
                {% if req_dict.get(param) == None %}
                    <span style='padding-left:50px;color:red;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;color:red;'>{{req_dict.get(param).replace('\n','<br>')}}</p>
                {% endif %}
            </p>
    {% else %}
        <h4 style='text-decoration: underline;'>Original</h4>
            <p>
                {% if org_dict.get(param) == None %}
                    <span style='padding-left:50px;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;'>{{org_dict.get(param).replace('\n','<br>')}}</p>
                {% endif %}
            </p>
        <hr style='border-top:1px dotted;'>
        <h4 style='text-decoration: underline;'>New</h4>
            <p>
                {% if org_dict.get(param) == None %}
                    <span style='padding-left:50px;font-style:italic'>NA</span>
                {% else %}
                    <p style='padding-left:20px;'>{{org_dict.get(param).replace('\n','<br>')}}</p>
                {% endif %}
            </p>
    {% endif %}
{% endmacro %}
