This message is a daily summary of obsid.revs which
need a Usint Signoff:
{% for signoff in pending_list %}
    {{ signoff.revision.obsidrev() }}
{% endfor %}
These updates may be verified at the Parameter Status Page:
{{ url_for('orupdate.index', _external=True) }}