{% extends 'app_base.html' %}
{% import 'bootstrap5/form.html' as wtf %}

<!-- Import Macros-->
{%  from 'orupdate/macros.html' import closed_signoff_row, open_signoff_row, signoff_cell, help_popup_page %}

{% block title %}Target Parameter Status Page{% endblock %}
{% block main_title %}Target Parameter Status Page{% endblock %}
{% block app_content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red; font-size:160%;'>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <p style='font-size:120%;'>
    This form contains all requested updates which have either 
    not been verified or have been verified in the last 24 hours.
    </p>
    <p>
    When you are ready to sign-off the box, just click the "Sign-off" button. Your name and the sign-off date will appear in that box.
    </p>
    <p>
    If "Sign-off & Approve" button appears, by clicking it, you can sign it off, and also approve that obsid. You will receive a confirmation email of the submission. 
    </p>
    <!-- <p>
    The "Discard" button appears if there are any edit sign-off columns remaining, and is removed when all the edits on a revision have been made and it is ready for Usint verification.
    <br/>The "Discard" button should be used to clear "out-of-date" entries from the Target Parameter Status Page by recording the unsigned columns as "N/A" in the database.
    </p> -->
    <p>
    If an observation is listed as on the approved list, then any opened revisions will not display the Signoff & Approve button for Usint signoffs.
    Instead, it is understood that revisions will still be in an 'approved' state onces the open revision is completed.
    </p>
    <p>
    If caught early enough, any sign-off, verification, or discard action can be reversed by the user in the Remove Accidental Submission Page.
    </p>

    <!-- If the database files were just updated by someone else, display the warning -->
    <!-- Warning now only notify the user if their actions would overwrite the signoffs submitted by another user, and so no action taken -->
    {% if warning != '' %}
        <h4 style='padding-top:30px;color:red;'>
            {{ warning }}
        </h4>
    {% endif %}
    
    <!-- display table starts here -->
    <div style='padding-top:30px;'></div>
    <form method="POST">

        <div style='float:right'>
            <b><u>Order <em>UNVERIFIED</em> revisions by:</u></b>
                <div style='font-size:90%;'>
                    <ul>
                        <li>{{order_form.order_submission()}}</li>
                        <li>{{order_form.order_obsid()}}</li>
                        <li> 
                            {{order_form.order_username()}} 
                            {{order_form.username(len=12)}}
                        </li>
                    </ul>
                </div>
        </div>

        <!-- Links to the help page and other pages -->
        <p style='padding-bottom:14px;'>
        <div style='font-size:110%;'>
        {{ help_popup_page('../static/orupdate/help.html', 'Help Page') }}
        </div>
        <a href="javascript:void(0);" onclick="openTab('../rm_submission/','Remove');" >
            Remove Accidental Submission Page
        </a>
        <br>
        <a href="javascript:void(0);" onclick="openTab('../express', 'Express');">
            Express Approval Page
        </a>
        </p>

        <div style='padding-top:30px;'></div>
        <table border=1 class='cent wide' style='margin-left:auto;margin-right:auto;'>
            <th class='cent'>OBSID.revision</th>
            <th class='cent'>General edits</th>
            <th class='cent'>ACIS edits</th>
            <th class='cent'>ACIS SI Mode edits</th>
            <th class='cent'>HRC SI Mode edits</th>
            <th class='cent'>USINT Verification</th>
            <th class='cent'>
                <span style='padding-left:20px;padding-right:20px'>Note</span>
            </th>
            <!-- Open ObsIds -->
            {% for (rev, sign), form, is_approved in zip(open_revision_signoff, open_forms, open_is_approved) %}
                {{open_signoff_row(rev, sign, form, multi_revision_info, is_approved)}}
            {% endfor %}
            <!-- Spacer if necessary -->
            {% if open_revision_signoff|length > 0 and closed_revision_signoff|length > 0 %}
                <tr><th colspan=7>&#160;</th></tr>
            {% endif %}
            <!-- Closed ObsIds -->
            {% for rev, sign in closed_revision_signoff %}
                {{closed_signoff_row(rev, sign)}}
            {% endfor %}
            <!-- Display for no recent revisions & signoffs -->
            {% if open_revision_signoff|length == 0 and closed_revision_signoff|length == 0 %}
                <tr><th colspan=7 class='cent' style='line-height:200%;'>
                    All Recently Updated ObsIDs Were Signed-off and Clear.
                </th></tr>
            {% endif %}
        </table>
        {% if open_revision_signoff|length == 0 and closed_revision_signoff|length == 0 %}
            <div style='padding-bottom:300px;'></div>
        {% endif %}
    </form>
{% endblock%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='usint.js') }}"></script>
    <script>
        setInterval(function(){
            window.onbeforeunload = null;
            window.location = window.location.href;
        },180000); 
    </script>
{% endblock%}