{% extends 'base.html' %}



{% block html %}
<head>
<title>Chandra Uplink Support INTerface</title>
<meta name="Subject" content="By Thread"></meta>

</head>
<body bgcolor="#FFFFFF" text="#000000">
<!--1/31/23 Major Link Rewrite of USINT Home Page to link directly to subdirectories-->
<!--1/31/23 Minimize Jumping through web server as much as possible and priorities cxc.cfa.harvard.edu for user ease-->


<table border="0" cellpadding="0" cellspacing="0" width="100%">

	<tr>
    	<td align="left" valign="top">
		<map name="header_left">
<area alt="Chandra Science" coords="0,4,192,72" href="http://cxc.cfa.harvard.edu/" shape="RECT">
</map>
<img src="http://cxc.cfa.harvard.edu/incl/header_left.gif" border="0" alt="Chandra Science"
	    usemap="#header_left">
</td>

<td align="right" valign="top">
<map name="header_right">
<area alt="About Chandra" coords="0,14,107,31" href="http://cxc.cfa.harvard.edu/cdo/about_chandra/" shape="RECT">
<area alt="Archive" coords="118,13,185,32" href="http://cxc.cfa.harvard.edu/cda/" shape="RECT">
<area alt="Proposer" coords="197,12,268,31" href="http://cxc.cfa.harvard.edu/proposer/" shape="RECT">
<area alt="Instruments & Calibration" coords="283,14,453,32" href="http://cxc.cfa.harvard.edu/cal/" shape="RECT">

<area alt="Newsletters" coords="112,33,198,51" href="http://cxc.cfa.harvard.edu/newsletters/index.html" shape="RECT">
<area alt="Data Analysis" coords="1,35,97,50" href="http://cxc.cfa.harvard.edu/ciao/" shape="RECT">
<area alt="HelpDesk" coords="218,34,295,51" href="http://cxc.cfa.harvard.edu/helpdesk/" shape="RECT">
<area alt="Calibration Database" coords="309,34,450,52" href="http://cxc.cfa.harvard.edu/caldb/" shape="RECT">
<area alt="NASA Archives & Centers" coords="295,53,452,75" href="http://cxc.cfa.harvard.edu/nasa_links.html" shape="RECT">
</map>
<img src="http://cxc.cfa.harvard.edu/incl/header_right.gif" border="0" alt="Chandra Science"
	    usemap="#header_right">
</td>
	</tr>
</table>
<!-- End Master Nav Table --------------------------------------------- -->

<H1 align=center>Chandra <i> Uplink Support INTerface</i> Organizational Page </center>
    </h1>
<center><small>(This page and most of its links can be accessed
via either the cxc or icxc servers. Links for icxc only are marked with
<b><font color=red><small>[i]</small></font></b>.)
</small></center>

<body bgcolor="#FFFFFF" text="#000000">


<br>
<hr noshade>

<!-- ********************************************************************* -->
<!-- **** Upper left of table ***** Obscat Updates and  Signoffs ********* -->
<!-- ********************************************************************* -->
<table width=98%>

<tr><td width=48%>

<h2> <center> Obscat Updates and Signoffs </center> </h2>

<ul>
<li><a href="https://cxc.cfa.harvard.edu/cus/procedures.html">USINT Procedures</a> 
	<font color=green><b>
	(updated for AO26)
	</b></font>
<li><a href="https://cxc.cfa.harvard.edu/cus/Usint/go_form/AO26.html"> 
	    Cycle 26 Contact Letter Generator</a>
(<a href="https://cxc.cfa.harvard.edu/cus/Usint/go_form/AO25.html">25</a>,
  <a href="https://cxc.cfa.harvard.edu/cus/Usint/go_form/AO24.html">24</a>)
    <ul>
    <li><a href="https://cxc.cfa.harvard.edu/cus/earlycontact.txt">Early contact info</a>
    <li><a href="http://cxc.cfa.harvard.edu/cal/ACISlongLetter.html">Long
        ACIS letter</a>
    <li><a href="https://cxc.cfa.harvard.edu/cal/TargetNames.html">Instructions
        for Good Target Names</a>
    <li><a href="https://cxc.cfa.harvard.edu/cal/RollDepTable.html">Format
        for tables listing roll-dependent pointing parameters</a>
    </ul>

<li><a href="https://cxc.cfa.harvard.edu/cgi-bin/target_search/search.html">
	Internal Target Search</a>

<li>
  <a href=javascript:OpenOrupdate()>ObsID update verification</a> (Target Parameter Status)
    <ul>
    <li><a href="https://cxc.cfa.harvard.edu/cus/Usint/updated.html">
	Archived updates grouped by month</a>
    </ul>

<li><a href=javascript:OpenExpress()>
    Express Approval</a> 
<li><a href="https://cxc.cfa.harvard.edu/cus/Usint/APPROVED">
	ObsIDs approved for flight</a>
</ul>

<center>
    <form>
<p>
     Ocat Data Page (4 or 5 digit ObsID):
     <input type=text   name="obsid"    id="obsid" size=10>
     <input type=submit name='ocat_page' value='Submit' formaction='javascript:OpenOcatPage()'>
      </form>
</center>

<center>
<mark><a href="https://cxc.cfa.harvard.edu/cus/ACISchecks.txt">Checklist for ACIS observations</a>
</mark>
</center>



<!-- ********************************************************************* -->
<!-- ********** Upper right of table ********* Communication ********* -->
<!-- ********************************************************************* -->
<td width=48%>

<h2> <center> Communication </center> </h2>

<ul>
  <li><a href="https://cxc.cfa.harvard.edu/cus/PeoplePhones.txt">
      USINT assignments (Seq#, etc.) and phone numbers</a>

  <li><font color=red><small>[i]</small></font>
      <a href="http://icxc.cfa.harvard.edu/dbtm/CDA/contact_search.html">
      PI/Observer Contact info</a> (search by ObsID, Seq, or Prop--be patient)

  <li><a href="https://groups.google.com/a/cfa.harvard.edu/forum/?hl=en#!forum/cus">Current USINT Mail Archive</a> (CUS Google Group)

  <li><a href="https://cxc.cfa.harvard.edu/cus/MAIL/ARCHIVE/">Old USINT Mail Archive </a> (before May 2015)
	and <a href="https://cxc.cfa.harvard.edu/cus/MAIL/swish.cgi">Search</A>

  <li><a href="https://cxc.cfa.harvard.edu/cus/emaillists.txt">Email lists and who's in them</a> 
	(<a href="https://groups.google.com/a/cfa.harvard.edu/forum/?hl=en#!members/cus">cus</a>,
	<a href="https://groups.google.com/a/cfa.harvard.edu/forum/?hl=en#!members/usint">usint</a>, etc.)

  <li><a href="https://cxc.cfa.harvard.edu/cus/WhenIsMyObservation.txt"><b><font color=green>
    How to reply to "Why is my observation taking so long?!"</font></b></a>
  <li><a href="https://cxc.cfa.harvard.edu/cus/jointprops.html"><b><font color=green>
    Joint proposal "coordination" and contact info</font></b></a>
</ul>

<h2><center>ObsVis and Dither for Cycle 24+</center></h2>
<ul>

  <li><a href="https://cxc.cfa.harvard.edu/cus/ditherSize.txt">
    Explanation for using larger (or smaller) dither pattern</a> 
  <li><a href="https://cxc.cfa.harvard.edu/cus/dither.table.html">
    How to fill in dither parameters</a>
</ul>

<ul>
  <li><a href="http://cxc.cfa.harvard.edu/obsvis/">ObsVis help</a>
  <li><a href="https://cxc.cfa.harvard.edu/cus/How2UpdateObvisV.txt">
    How to determine/change ObsVis version</a>
  <li>obsvis.cal files for each Cycle (version):<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://cxc.cfa.harvard.edu/soft/obsvis/cycle26/obsvis.cal">
      26 (1.19)</a>
      &nbsp;
      <a href="https://cxc.cfa.harvard.edu/soft/obsvis/cycle25/obsvis.cal">
      25 (1.18)</a>
      &nbsp;
      <a href="https://cxc.cfa.harvard.edu/soft/obsvis/cycle24/obsvis.cal">
      24 (1.16)</a>
</ul>

</tr>
</table>

<hr noshade>

<!-- ********************************************************************* -->
<!-- ********** Lower left of table ********* TOO/DDT Stuff ********* -->
<!-- ********************************************************************* -->
<table width=98%>

<tr>
<td width=48%>

<h2> <center> TOO/DDT Stuff </center> </h2>

<ul>
  <li><a href="https://cxc.cfa.harvard.edu/cus/procedures.html#TOOs">Procedures for TOO/DDTs</a>
  <li><a href="javascript:OpenScheduler()">TOO POC Duty Scheduler</a>
  <li><a href="https://cxc.cfa.harvard.edu/cus/Usint/too_contact_schedule.html">    TOO POC on duty</a>


<li>TOO trigger info:
<ul>
  <li><font color=red><small>[i]</small></font>
   <a href="https://icxc.cfa.harvard.edu/uspp/TOO/cycle26_toos.html">
   TOO trigger criteria (AO26)</a> and related info.
 <li><font color=red><small>[i]</small></font>
   <a href="https://icxc.cfa.harvard.edu/uspp/TOO/cycle25_toos.html">
   TOO trigger criteria (AO25)</a> and related info.
</ul>

  <li><font color=red><small>[i]</small></font>
    <a href="https://icxc.cfa.harvard.edu/mp/html/ddttoo.html">Pending
    and Scheduled DDT/TOO Observations</a>
</ul>

<!-- ********************************************************************* -->
<!-- ********** Lower right of table ********* Useful Notes and Tools **** -->
<!-- ********************************************************************* -->
<td width=48%>


</a>
<h2><center>Useful Notes and Sites</center></h2>
<ul>
<li> <a href="http://cxc.cfa.harvard.edu/target_lists/longsched.html">
	Long-Term Schedule</a> (and <font color=red><small>[i]</small></font>
<a href="https://icxc.cfa.harvard.edu/mp/lts/lts-current.html">with
        unscheduled non-Pool targets</a>)

<li> <a href="http://cxc.cfa.harvard.edu/target_lists/stscheds/">
	Short-Term Schedule</a> (and <font color=red><small>[i]</small></font>
	<a href="https://icxc.cfa.harvard.edu/mp/html/schedules.html">
	past and future STS's</a>)

<li><a href="https://cxc.cfa.harvard.edu/soft/cps/Chandra.help.html">
    <b><font color=green>CPS Help for required proposal fields</font></b></a>

<li><font color=red><small>[i]</small></font>
   <a href="https://icxc.harvard.edu/mp/cgi/docs/wiki.pl?Constraints_Definitions
">
    <b><font color=green>All about constraints</font></b></a>
    (Time, Phase, Monitor, Group, Split, etc.)

<li><a href="http://cxc.cfa.harvard.edu/acis/home.html">ACIS Ops Home Page</a>
	(with on-duty list and phone#s)

<ul>
   <li><a href="http://cxc.cfa.harvard.edu/acis/simode_query.html">
	ACIS SImode Finder</a>. Or 
   <a href="https://cxc.cfa.harvard.edu/cus/ACISmodeGrep">grep and sort</a>
   the <a href="https://cxc.cfa.harvard.edu/cus/ACISmodeList">SImode list</a>.

   <li>ACIS layout:
	[<a href="https://cxc.cfa.harvard.edu/cus/ACISlayoutCyc24.png">Cyc24 png</a>] 
	[<a href="https://cxc.cfa.harvard.edu/cus/acis_flight_focal_plane.png">Cyc23 png</a>] 
	[<a href="https://cxc.cfa.harvard.edu/cus/ACIS_FP_DETAILED.pdf">Cyc23 pdf +caption</a>]<br>
    <small>
    (Cycle 23&#8594;24 aimpoints shift by -16,-16 pixels for I3; -16,0 for S3)
    </small>
</ul>

<li>
 <a href="http://cxc.cfa.harvard.edu/contrib/juda/hrc_flight/macros/hrcmode.html">
    HRC SI modes</a>

<li><a href="http://cxc.cfa.harvard.edu/cgi-gen/LETG/alp.cgi">
	HETG/LETG Spectrum Visualizer</a> and
    <a href="http://cxc.cfa.harvard.edu/cal/Links/Letg/User/ACIS_params/">
	LETG/ACIS-S Setup</a>

<li><a href="https://cxc.cfa.harvard.edu/cus/propermotion.html">Proper Motion calculators</a>

<li>AP Processing status
  (<font color=red><small>[i]</small></font>
   <a href="http://icxc.cfa.harvard.edu/soft/op/op_pst.html">internal</a>)
  (<a href="http://cxc.cfa.harvard.edu/soft/op/op_pst.html">public</a>)


</ul>


</tr>
</table>
<!-- ****************** End of table *************************** -->


<!-------------------------------------------------------------------->
<hr noshade>
<p>
<small>
<em>Last update May 29, 2025.  
  If you have any questions about this page, please contact: 
  Admin: <a href='mailto: bwargelin@cfa.harvard.edu'>bwargelin@cfa.harvard.edu.</a>
  Tech: <a href='mailto: william.aaron@cfa.harvard.edu'>william.aaron@cfa.harvard.edu.</a>
</em>

</small>
</body>

<script>
  function OpenOcatPage(){
      var  obsid = document.getElementById('obsid').value;
      var  html  = "{{url_for('ocatdatapage.index')}}" + obsid;
      window.open(html,'Ocatdatapage'+obsid);
  } 
  function OpenOrupdate(){
    window.open("{{url_for('index')}}",'Orupdate')
  }
  function OpenExpress(){
    window.open("{{url_for('index')}}",'Express')
  }
  function OpenRemove(){
    window.open("{{url_for('index')}}",'Remove')
  }
  function OpenScheduler(){
    window.open("{{url_for('index')}}",'Schedule')
  }
</script>
{% endblock %}

